@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
  background: linear-gradient(120deg, #30517a, #191414);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: "spotifyfont";
  src: url("spotifyfont-webfont.woff2") format("woff2"),
    url("spotifyfont-webfont.woff") format("woff");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1e212a;
  border-radius: 5px;
  background: #1e212a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c476a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e212a;
}

.tile-title {
  font-size: 12px;
  text-align: center;
  margin: 1.5em;
  font-weight: 800;
  position: relative;
  letter-spacing: 1px;
}

.justify-content-space-evenly {
  justify-content: center;
}
.HomeContainer {
  color: white;
  font-family: spotifyfont;
  border-top: 5px solid black;
}

.HomeContainer h2 {
  font-weight: 600;
  font-size: 25px;
  position: relative;
}

#collectionInfo {
  font-family: "spotifyfont";
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 100;
}

.select-trends .btn {
  font-family: spotifyfont;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 10px;
  color: white;
}

.tile-card {
  position: relative;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: 1;
}

.tile-logo {
  position: absolute;
  top: 5px;
  left: 5px;
}

.tile-card:hover i.playIcon {
  animation: iconOpacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.tile-play {
  position: absolute;
  top: 60%;
  right: 15px;
}

i.playIcon {
  color: #1cb351;
  font-size: 30px !important;
  z-index: 15;
  opacity: 0;
}

@keyframes iconOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.15;
  }
  15% {
    opacity: 0.25;
  }
  20% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.tile-card:hover {
  transform: scale(1.2);
  z-index: 5;
}

div.navOptions > button {
  position: relative;
}

.home-nav-btns {
  color: #c1c1c1 !important;
}

button.home-nav-btns::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: -3.5px;
  left: 20%;
  background-color: #349e5e;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

button.activateButton::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: -3.5px;
  left: 20%;
  background-color: #e6ac00;
  visibility: visible;
}

button.home-nav-btns:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.logoStyle {
  opacity: 0.7;
}

.activateButton {
  color: white !important;
  font-size: 11px !important;
}

@media all and (max-width: 575.98px) and (min-width: 100px) {
  .col-xs-4 {
    width: 50% !important;
  }

  .HomeContainer h2 {
    font-weight: 600;
    font-size: 20px;
  }

  #collectionInfo {
    font-size: 12px;
  }

  .tile-card:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  .HomeContainer {
    margin-bottom: 150px;
  }

  /*  Play Icon */

  .tile-play {
    position: absolute;
    top: 68%;
    right: 15px;
  }

  i.playIcon {
    color: #1cb351;
    font-size: 30px !important;
    z-index: 15;
    opacity: 0;
  }
}

@media all and (max-width: 767px) and (min-width: 576px) {
  .HomeContainer {
    margin-bottom: 150px;
  }
  .HomeContainer h2 {
    font-weight: 600;
    font-size: 22px;
  }

  /*  Play Icon */
}

@media all and (max-width: 991px) and (min-width: 768px) {
  .HomeContainer {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 992px) {
  .HomeContainer {
    margin-bottom: 100px;
  }
}

@media all and (max-width: 768px) and (min-width: 576px) {
  div.col-sm-2 {
    max-width: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  div.col-sm-8 {
    min-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .HomeContainer {
    margin-bottom: 150px;
  }
}

.testing {
  position: relative;
}

div.newPlay {
  position: absolute;
  top: 80%;
  left: 80%;
  z-index: 10;
  opacity: 0;
  color: #1cb351;
  font-size: 120%;
}

.tile-card:hover div.newPlay {
  animation: iconOpacity 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@media all and (max-width: 1340px) and (min-width: 1200px) {
  div.newPlay {
    position: absolute;
    top: 75%;
    left: 80%;
    z-index: 10;
    opacity: 0;
    color: #1cb351;
    font-size: 120%;
  }
}

@media all and (max-width: 1199.98px) and (min-width: 992px) {
  div.newPlay {
    position: absolute;
    top: 72%;
    left: 75%;
    z-index: 10;
    opacity: 0;
    color: #1cb351;
    font-size: 100%;
  }
}

@media all and (max-width: 991.98px) and (min-width: 768px) {
  div.newPlay {
    position: absolute;
    top: 75%;
    left: 80%;
    z-index: 10;
    opacity: 0;
    color: #1cb351;
    font-size: 120%;
  }
}

@media all and (max-width: 767.98px) and (min-width: 576px) {
  div.newPlay {
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 10;
    opacity: 0;
    color: #1cb351;
    font-size: 150%;
  }
}

@media all and (max-width: 575.98px) and (min-width: 400px) {
  div.newPlay {
    position: absolute;
    top: 82%;
    left: 78%;
    z-index: 10;
    opacity: 0;
    color: #1cb351;
    font-size: 150%;
  }
}

@media all and (max-width: 399.98px) and (min-width: 100px) {
  div.newPlay {
    position: absolute;
    top: 78%;
    left: 78%;
    z-index: 10;
    opacity: 0;
    color: #1cb351;
    font-size: 110%;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  cursor: pointer;
}
