@font-face {
  font-family: "spotifyfont";
  src: url("spotifyfont-webfont.woff2") format("woff2"),
    url("spotifyfont-webfont.woff") format("woff");
}

body {
  font-family: spotifyfont !important;
  width: 98%;
}

.spotify-container-n {
  display: flex;
  justify-content: center;
}

.header-n {
  display: flex;
  flex: center;
  align-items: center;
  justify-content: center;

  margin: 15px;
  padding: 10px;
}

.header-n img {
  height: 60px;
  margin-right: 5px;
}

.header-n h1 {
  font-size: 40px;
}

/*All buttons styling login and album page*/
.btn-n {
  border-radius: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 12px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.hr-sect::before {
  margin-right: 25px;
}

.hr-sect::after {
  margin-left: 25px;
}

#btn-fb-n,
#btn-apple-n,
#btn-login-n,
#btn-signup-n {
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

#btn-fb-n {
  background: #45599a;
  color: white;
}

#btn-apple-n {
  background: black;
  color: white;
}

i {
  margin-right: 15px;
}

#btn-login-n {
  background: #47b850;
  color: white;
}

#btn-signup-n {
  border: 2px solid black;
}

#p-first-n {
  margin: 0;
}

#p-dont-n {
  font-size: 1.2rem;
  margin-top: 40px;
}

#p-last-n {
  color: grey;
  font-size: 0.8rem;
}

#a-forgot-n,
#a-terms-n,
#a-privacy-n {
  color: green !important;
}

/* Customize the label (the container) */
#label-n {
  display: block;
  position: absolute;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: grey;
  top: 35%;
}

/* Hide the browser's default checkbox */
#label-n input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  padding-top: 50px;
}

/* Create a custom checkbox */
.checkmark-n {
  position: absolute;

  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgb(177, 177, 177);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
#label-n:hover input~.checkmark-n {
  background-color: rgb(231, 231, 231);
  border: solid black 1px;
}

/* When the checkbox is checked, add a blue background */
#label-n input:checked~.checkmark-n {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-n:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#label-n input:checked~.checkmark-n:after {
  display: block;
}

/* Style the checkmark/indicator */
#label-n .checkmark-n:after {
  left: 7px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid#FFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

@media screen and (max-width: 340px) {

  #btn-fb-n,
  #btn-apple-n,
  #btn-login-n,
  #btn-signup-n {
    font-size: 13px;
  }

}

/* -------------------------- Album Page start ------------------------- */
/*-only body of albumpage-*/
.body-n {

  background-color: #5d5d5d;
  background-image: linear-gradient(132deg, #202020 0%, #050505 95%);
  overflow: hidden;
  padding-top: 10px;
  width: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  }

.invisible-placeholder-n {
  border: solid palegreen 2px;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(20, 20, 20);

}

::-webkit-scrollbar-thumb {
  background-color: rgb(22, 22, 22);
  box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

/*---------tracklist column-----------------*/
.tracklist-n {
  height: 100vh;
  padding-left: 2rem;
  margin-left: 50px ;

}
.track-container {
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
}

ul {
  padding-left: 20px;
  list-style: none;
}

li {
  margin-bottom: 10px;
  list-style: none !important;
}

li:nth-child(even) {
  color: grey;
  font-size: 13px;
  font-weight: 600;
}

li:nth-child(odd) {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

/*------------album cover column-------------*/

#img-album-n {
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
}
.album-n h4 {
  letter-spacing: 1px;
}

.album-n {

  display: flex;
  color: white;
  justify-content: center;
  padding-left: 290px;
  right:0;
  text-align: center;
  height: 100vh;
}

.album-n p {
  margin-top: 10px;
  color: #5d5d5d;
  font-size: 12px;
  font-weight: 700;
}

/*"play now button*/
.album-n button {
  margin-top: 10px !important;
  width: 130px !important;
  margin: 0 auto;
}

/*heart like styling*/
.far .fa-heart {
  font-size: 25px;
}

/*--------Screen sizing for albumpage---------------*/
@media screen and (max-width: 1024px) {
  .album-n {
    margin-right: -50px;
  }

}
.body-n {
  height: 50%;
}

@media screen and (max-width: 979px) {
  .tracklist-n {
    padding-left: 10px;
  }

  .body-n {
    overflow: visible;
     }

  #img-album-n {
    width: 100%;
    max-width: 500px;
  }

  .album-n {
    margin-right: -50px;


  }
}

@media screen and (max-width: 768px) {
 .album-n {
    padding-left: 5vw;
    padding-right: 5vw;
    }

}

  @media screen and (max-width: 767px) {
    .body-n {
      padding-right: 0px ;
     
    }

    .tracklist-n {
      padding-left: 10px;
      margin-left: 0px ;
      font-size: 2rem !important;
    
      height: 100%;
    }

    .track-container {
      overflow: visible;
      height: 100%;
      padding-bottom: 160px;
    }

    .album-n {
      height: 100%;
      width: 100%;
      min-width: 300px;
      text-align: center;
    }

    #img-album-n {
      min-width: 280px;
    }

  }

  /*--------------------------------------------*/
  /*--------------Album Page End-------------------*/