/* .container-fluid {
  margin: 0 auto;
} */

.spotify-container-n{
  display: flex;
  justify-content: center;
}

.header-n {
  display: flex;
  flex: center;
  align-items: center;
  justify-content: center;

  margin: 15px;
  padding: 10px;
}

.header-n img {
  height: 60px;
  margin-right: 5px;
}

.header-n h1 {
  font-size: 40px;
}
/*All buttons styling login and album page*/
.btn-n {
  border-radius: 30px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  font-size: 12px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.hr-sect::before {
  margin-right: 25px;
}
.hr-sect::after {
  margin-left: 25px;
}

#btn-fb-n,
#btn-apple-n,
#btn-login-n,
#btn-signup-n {
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

#btn-fb-n {
  background: #45599a;
  color: white;
}

#btn-apple-n {
  background: black;
  color: white;
}
i {
  margin-right: 15px;
}
#btn-login-n {
  background: #47b850;
  color: white;
}

#btn-signup-n {
  border: 2px solid black;
}
#p-first-n {
  margin: 0;
}

#p-dont-n {
  font-size: 1.2rem;
  margin-top: 40px;
}

#p-last-n {
  color: grey;
  font-size: 0.8rem;
}

#a-forgot-n,
#a-terms-n,
#a-privacy-n {
  color: green !important;
}

/* Customize the label (the container) */
#label-n {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: grey;
}

/* Hide the browser's default checkbox */
#label-n input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  padding-top: 50px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgb(177, 177, 177);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
#label-n:hover input ~ .checkmark {
  background-color: rgb(231, 231, 231);
  border: solid black 1px;
}

/* When the checkbox is checked, add a blue background */
#label-n input:checked ~ .checkmark {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#label-n input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#label-n .checkmark:after {
  left: 7px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid#FFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

@media screen and (max-width: 340px) {
  #btn-fb-n,
  #btn-apple-n,
  #btn-login-n,
  #btn-signup-n {
    font-size: 13px;
  }

}


/* -------------------------- Album Page start */
.body-n {
  background-color: #5d5d5d;
  background-image: linear-gradient(132deg, #202020 0%, #050505 95%);
}

#img-album-n {
 max-width: 100%;
}

.invisible-placeholder-n {
  border: solid palegreen 2px;
  
}
.album-cover-n {
  border: red solid 2px;
}
.tracklist-n {
  border:solid blueviolet 2px;
  padding-left: 2rem !important;
  margin-left: 50px !important;

}

@media screen and (max-width: 970px){
 .aaaa{ padding-left: 10px !important;
 }
}
@media screen and (max-width: 768px) {
  .aaaa {

    border:solid rgb(226, 214, 43) 2px;
    padding-left: 6rem !important;
  }

  .aaa {
    border: red solid 2px;
    padding: 2rem;
  }
}


#img-note-n {
  margin-left: 20px;
  left: -100px;
  width: 18px;
}

ul {
  padding-left: 20px;
  list-style: none;
}

li {
  margin-bottom: 10px;
  list-style: none !important;
}

li:nth-child(even) {
  color: grey;
  font-size: 13px;
  font-weight: 600;
}
li:nth-child(odd) {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.album-n {
  color: white;
  text-align: center;
}
.album-n p {
  margin-top: 10px;
  color: #5d5d5d;
  font-size: 12px;
  font-weight: 700;
}

.album-n button {
  margin-top: 10px !important;
  width: 130px !important;
  margin: 0 auto;
}

.far .fa-heart {
  font-size: 25px;
}
