@font-face {
	font-family: "spotifyfont";
	src: url("spotifyfont-webfont.woff2") format("woff2"),
		url("spotifyfont-webfont.woff") format("woff");
}



body {
  color: white;
  background-color: rgb(34, 34, 34);
  font-family: spotifyfont;
}


.main-title {
  font-size: 12px;
  text-align: center;
  margin: 1.5em;
  font-weight: 800;
  position: relative;
  letter-spacing: 1px;
}

.justify-content-space-evenly {
  justify-content: center;
}

.MainContainer {
  /* color: white; */
  font-family: "Prompt", sans-serif;
}

.MainContainer h2 {
  font-weight: 600;
}

.select-trends .btn {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 10px;
  color: white;
}

#main {
  background-image: linear-gradient(to bottom, rgba(30, 215, 96, 0.52), rgba(60, 59, 59, 0.73)), url("./baner.jpg");
  height: 350px;
  /* width: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a:hover {
  color: rgb(0, 189, 0);
  text-decoration: underline;
}

.list li a {
  list-style: none;
  color: white;
  font-weight: bold;
}

.list li a:active {
  text-decoration: underline lightgreen 2px;


}
.list li {
  list-style: none;
}  

#main > h1 {
  font-weight: 600;
  font-size: 50px;
}

body > div.container > h3 {
  font-weight: 700;
}


.btn1 {
  border-radius: 25px;
  width: 110px;
  background-color: rgb(0, 189, 0);
  color: white;
  height: 35px;
  font-size: 11px;
}

.btn2 {
  border-radius: 25px;
  width: 120px;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor:pointer;
  overflow: hidden; 
  margin-left: 10px;
  border: 1px white solid;
  height: 35px;
  font-size: 11px;
}
.btn3 {
  font-size: 15px;
  margin-left: 20px;
  height: 35px;
}

.no-margin {
  padding: 0;
  margin: 0;
}

.album {
  margin-bottom: 20px;
  text-align: center;
}

.top-items a i {
  margin-right: 10px;

}

.card-title {
  position: relative;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#main > h6 {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

.album h6 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;

}

